<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset = "UTF-8">
        <title> Welcome</title>
    </head>
    <body>
        <div>
            <label for="title" class="form-label">Welcome to green calendar</label>
           </div>
<nav class = "main-nav">
    <a href="{{url_for('add')}}"><button type = "submit", value="Button">Edit</button></a>
    <a href="{{url_for('cal')}}"><button type = "submit", value="Button">Calendar</button></a>
    
</nav>
    </body>
    
        
    