<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset = "UTF-8">
        <title> Welcome</title>
        <style>
        body {
        box-sizing: border-box;
        margin: 0px;
        font-family: Consolas, monospace;
      }
      .main-nav {
        height: 100vh;
        background-color: #0ab13c;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .but {
        padding: 20px;
        background-color: #7b75e9;
      }
        </style>
    </head>
    <body>
        <div>
            <label for="title" class="form-label">Welcome to green calendar</label>
           </div>
           <nav class = "main-nav">
            <p class="but">
              <a href="{{url_for('set')}}"><button type = "submit", value="Button">Add</button></a>
              <a href="{{url_for('delete_user')}}"><button type = "submit", value="Button">Delete</button></a>
              <a href="{{url_for('cal')}}"><button type = "submit", value="Button">Calendar</button></a>
            </p>
          </nav>
    </body>
    
        
    