<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset = "UTF-8">
        <title> Add title</title>
        <style>
        body {
        box-sizing: border-box;
        margin: 0px;
        font-family: Consolas, monospace;
      }
      .main-nav {
        height: 100vh;
        background-color: #0ab13c;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .my-4 {
        padding: 20px;
        background-color: #7b75e9;
      }
        </style>
    </head>
    <body>
      <a href="/"><button type = "submit", value="Button">Home</button></a>
        <nav class = "main-nav">
          
        
      <div class = "my-4">
          <form  action="/set" method="POST">
            <div class="mb-3">
              <label for="species" class="form-label">Species:</label>
              <input type="text" id="species" name="species" required >
              <button type="submit">Next</button>
             </div>
             
             </form>
            </nav>
    </body>
    
        </html>
    