<!DOCTYPE html>
<html>
<head>
  <title>Radar Chart Example</title>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <style>
    table{
      
      margin : 25px auto;
      width:50%;
      border : 1px solid #444444;
    }
 .inform{
  margin : 25px auto;
  text-align : center;
 }


    
  </style>
</head>
<body>
  <nav class="main-nav">
    <a href="{{ url_for('cal') }}"><button type="submit">Calendar</button></a>
  </nav>
  <div class="container" id="container">
    <div id="chartContainer">
      <canvas id="radarChart"></canvas>
    </div>
    <div class = inform>
    <span id="humElement"></span>
    <span id="temElement"></span>
  </div>
    <div id="dataContainer">
      <table>
        <thead>
          <tr>
            <th>환경</th>
            <th>{{plant.title}}</th>
            <th>외부</th>
            <th>내부</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>조도</td>
            <td>{{plant.ill}}</td>
            <td id="illuminance">{{ weather.ill }}</td>
            <td id="adu_ill">{{ adu.ill }}</td>
          </tr>
          <tr>
            <td>습도</td>
            <td>{{plant.hum}}</td>
            <td id="humidity">{{ weather.hum }}</td>
            <td id="adu_hum">{{ adu.hum }}</td>
          </tr>
          <tr>
            <td>온도</td>
            <td>{{plant.tem}}</td>
            <td id="temperature">{{ weather.tem }}</td>
            <td id="adu_tem">{{ adu.tem }}</td>
          </tr>
        </tbody>
      </table>
      <script>
        var humElement = document.getElementById("humElement");
        var temElement = document.getElementById("temElement");
    
      
        var ielement = document.getElementById("illuminance");
        var helement = document.getElementById("humidity");
        var telement = document.getElementById("temperature");
        if ({{plant.ill}}+5>={{weather.ill}}&&{{plant.ill}}-5<={{weather.ill}}) {
          ielement.style.backgroundColor = 'rgb(50,230,50)';
          ielement.innerHTML = "햇빛이 강합니다.";
        } else if({{plant.ill}}+5<{{weather.ill}}){
          ielement.style.backgroundColor = 'rgb(60,60,230)';
          ielement.innerHTML = "햇빛이 강하지 않습니다.";
        }else{
          ielement.style.backgroundColor = 'rgb(230,60,70)';
          ielement.innerHTML = "햇빛이 약합니다.";
        }

        if ({{plant.hum}}+5>={{weather.hum}}&&{{plant.hum}}-5<={{weather.hum}}) {
          helement.style.backgroundColor = 'rgb(50,230,50)';
          helement.innerHTML = "식물에게 적정한 습도입니다.";
        } else if({{plant.hum}}+5<{{weather.hum}}){
          helement.style.backgroundColor = 'rgb(60,60,230)';
          helement.innerHTML = "식물 주위가 습합니다.";
        }else{
          helement.style.backgroundColor = 'rgb(230,60,70)';
          helement.innerHTML = "식물 주위가 건조합니다.";
        }

        if ({{plant.tem}}+5>={{weather.tem}}&&{{plant.tem}}+5<={{weather.tem}}) {
          telement.style.backgroundColor = 'rgb(50,230,50)';
          telement.innerHTML = "식물 주변 온도가 적절합니다.";
        } else if({{plant.tem}}+5<{{weather.tem}}){
          telement.style.backgroundColor = 'rgb(60,60,230)';
          telement.innerHTML = "식물 주변 온도가 높습니다.";
        }else{
          telement.style.backgroundColor = 'rgb(230,60,70)';
          telement.innerHTML = "식물 주변 온도가 낮습니다.";
        }
        var aielement = document.getElementById("adu_ill");
        var ahelement = document.getElementById("adu_hum");
        var atelement = document.getElementById("adu_tem");
        if ({{plant.ill}}+5>={{adu.ill}}&&{{plant.ill}}-5<={{adu.ill}}) {
          aielement.style.backgroundColor = 'rgb(50,230,50)';
          aielement.innerHTML = "햇빛이 적당합니다.";
        } else if({{plant.ill}}+5<{{adu.ill}}){
          aielement.style.backgroundColor = 'rgb(60,60,230)';
          aielement.innerHTML = "햇빛이 강합니다.";
        }else{
          aielement.style.backgroundColor = 'rgb(230,60,70)';
          aielement.innerHTML = "햇빛이 약합니다.";
        }

        if ({{plant.hum}}+5>={{adu.hum}}&&{{plant.hum}}-5<={{adu.hum}}) {
          ahelement.style.backgroundColor = 'rgb(50,230,50)';
          ahelement.innerHTML = "식물에게 적정한 습도입니다.";
        } else if({{plant.hum}}+5<{{adu.hum}}){
          ahelement.style.backgroundColor = 'rgb(60,60,230)';
          ahelement.innerHTML = "식물 주위가 습합니다.";
        }else{
          ahelement.style.backgroundColor = 'rgb(230,60,70)';
          ahelement.innerHTML = "식물 주위가 건조합니다.";
        }

        if ({{plant.tem}}+5>={{adu.tem}}&&{{plant.tem}}-5<={{adu.tem}}) {
          atelement.style.backgroundColor = 'rgb(50,230,50)';
          atelement.innerHTML = "식물 주변 온도가 적절합니다.";
        } else if({{plant.tem}}+5<{{adu.tem}}){
          atelement.style.backgroundColor = 'rgb(60,60,230)';
          atelement.innerHTML = "식물 주변 온도가 높습니다.";
        }else{
          atelement.style.backgroundColor = 'rgb(230,60,70)';
          atelement.innerHTML = "식물 주변 온도가 낮습니다.";
        }


       
    </script>
    </div>
  </div>
 
  <script>
    // Data for the radar chart
    var data = {
      labels: ['Illuminance', 'Humidity', 'Temperature'],
      datasets: [
        {
          label: 'External weather',
          backgroundColor: 'rgba(255, 99, 132, 0.2)',
          borderColor: 'rgba(255, 99, 132, 1)',
          data: [{{ weather.ill }}, {{ weather.hum }}, {{ weather.tem }}]
        },
        {
          label: 'Plant',
          backgroundColor: 'rgba(54, 235, 150, 0.2)',
          borderColor: 'rgba(54, 235, 150, 1)',
          data: [{{ plant.ill }}, {{ plant.hum }}, {{ plant.tem }}]
        },
        {
          label: 'Internal weather',
          backgroundColor: 'rgba(54, 162, 235, 0.3)',
          borderColor: 'rgba(54, 162, 235, 1)',
          data: [{{ adu.ill }}, {{ adu.hum }}, {{ adu.tem }}]
        }
      ]
    };

    // Configuration options
    var options = {
      responsive: true, // 반응형 설정
    maintainAspectRatio: false, // 캔버스 요소 크기 유지 설정 해제
    maxWidth: 1300, // 최대 너비 설정
    maxHeight: 1300,
      scale: {
        ticks: {
          beginAtZero: true,
          min: 0,
          max: 100,
          stepSize: 20
          
        }
      }
    };

    // Create the radar chart
    var ctx = document.getElementById('radarChart').getContext('2d');
    new Chart(ctx, {
      type: 'radar',
      data: data,
      options: options
    });
  </script>
</body>
</html>
